@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* fonts from google  */
@font-face {
  font-family: "Yellowtail";
  src: url("/Fonts/Yellowtail-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Requiered custom CSS  */
body {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #274c5b;
}

.tag {
  font-family: "Yellowtail";
  color: #68a47f;
  @apply text-4xl;
}
#subscribe {
  background-image: url(/Images/subscribe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#aboutBanner {
  background-image: url(/Images/about/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#shopBanner {
  background-image: url(/Images/shop/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
